{%- doc -%}
  Renders the search action button.

  @param {string} [style] - The style of the search action.
  @param {string} [class] - Additional classes for the search action.
  @param {string} [display_style] - The display style ('icon' or 'text').

  @example
  {% render 'search', style: 'default', class: 'custom-class', display_style: 'icon' %}
{%- enddoc -%}

{% unless style == 'none' %}
  <search-button
    class="search-action{% if display_style == 'text' %} search-action--text{% endif %}{% if class != blank %} {{ class | strip }}{% endif %}"
  >
    <button
      on:click="#search-modal/showDialog"
      class="button-unstyled header-actions__action{% if display_style == 'text' %} header-actions__text-style{% endif %}"
      aria-label="{{ 'content.search_input_label' | t }}"
      aria-haspopup="dialog"
    >
      <span class="{% if display_style == 'icon' %}hidden{% else %}mobile:hidden{% endif %}">
        {{ 'content.search' | t }}
      </span>

      <span class="svg-wrapper {% if display_style != 'icon' %}desktop:hidden{% endif %}">
        {% comment %} {{ 'icon-search.svg' | inline_asset_content }} {% endcomment %}
         <svg width="8" height="12" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M16.75 16.75L11.4168 11.4167M13.1944 6.97222C13.1944 10.4087 10.4087 13.1944 6.97222 13.1944C3.53578 13.1944 0.75 10.4087 0.75 6.97222C0.75 3.53578 3.53578 0.75 6.97222 0.75C10.4087 0.75 13.1944 3.53578 13.1944 6.97222Z" stroke="#1E2B51" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </span>
    </button>
  </search-button>
{% endunless %}

{% stylesheet %}
  .search-action {
    --search-border-radius: var(--style-border-radius-inputs);
    --search-border-width: var(--style-border-width-inputs);

    display: flex;
  }

  @media screen and (max-width: 749px) {
    .search-action--hidden-on-drawer {
      display: none;
    }
  }

  @media screen and (min-width: 750px) {
    [data-menu-style='drawer'] .search-action--hidden-on-drawer {
      display: none;
    }

    [data-menu-style='menu'] .search-action--hidden-on-menu {
      display: none;
    }
  }

  [data-menu-style='menu'] .header__column--left .search-action {
    @media screen and (min-width: 750px) {
      margin-inline: calc(var(--padding-lg) * -1);
    }
  }

  .header__column--right .search-action {
    @media screen and (min-width: 750px) {
      margin-inline: calc(var(--gap-md) * -1) calc(var(--gap-xs) * -1);
    }
  }

  @media screen and (min-width: 750px) {
    .header__column--right .search-action--text {
      margin-inline: 0;
    }

    [data-menu-style='menu'] .header__column--left .search-action--text {
      margin-inline: 0;
    }
  }
{% endstylesheet %}
